/*
Theme Name: Hello Elementor Child
Description: Child theme for Hello Elementor - EHS Analytical Services Custom Post Type
Author: EHS Analytical
Template: hello-elementor
Version: 1.0.0
*/

/* Add your custom styles here */
